# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Ambiente virtual
venv/
.env
*.env

# Arquivos gerados
conversa_*.json

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db

# Pacotes e builds
dist/
build/
*.egg-info/